.chatPage {
  height: 100%;
  width: 100%;
  display: flex;
}
.left {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .searchInput {
  }
  .messageList {
    flex: 1;
    overflow-y: auto;
    .messageListItem {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid #e0e0e0;
      &.active {
        background-color: #e0e0e0;
      }
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
.main {
  flex: 1;
}
